{% extends 'basic_auth.html' %}
{% load custom_tags %}

{% block content %}
        <form method="POST" class="w-50 mx-auto">
            <div class="w-75 mx-auto">
                {% csrf_token %}


                {% if form.errors %}
                    <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="text-danger fw-bolder">{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}

                {% for key in form %}<p>{{key}}</p>{% endfor %}

                <button type="submit" class="btn btn-outline-primary mb-1 d-block mx-auto w-100">Отправить</button>
                <a href="{% url 'authen:login' %}" class="btn btn-outline-primary mb-1 w-100">Вспомнил пароль</a>
                <a href="/" class="btn btn-outline-primary d-block mx-auto">Главная страница</a>
                </div>
        </form>
{% endblock %}
