{% extends 'basic_auth.html' %}
{% load custom_tags %}

{% block content %}
        <form method="POST" class="w-50 mx-auto">
            <div class="w-75 mx-auto py-4">
                {% csrf_token %}


                {% if form.errors %}
                    <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="text-danger fw-bolder">{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}

                {% for key in form %}<p>{{key}}</p>{% endfor %}

                <button type="submit" class="btn-theme mb-1 w-100 border-0 p-2">Отправить</button>
                <a href="{% url 'authen:login' %}" class="btn-theme mb-1 w-100 border-0 p-2">Вспомнил пароль</a>
                <a href="/" class="btn-theme w-100 p-2">Вернуться на главную</a>
                </div>
        </form>
{% endblock %}
