{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}

    <div class="pricing-header px-3 mx-auto text-center">
        <div class="w-75 mx-auto">
            {% if object.current_version %}<div class="fw-bolder">Версия {{object.current_version}}</div>{% endif %}
            <div><span class='fw-bolder'>Автор: </span>{{object.creator|author|safe}}</div>

            {% if object.is_published %}
                 <p class="card-text status-publication text-success">Опубликован</p>
            {% else %}
                `<p class="card-text status-publication text-danger">Не опубликован</p>
            {% endif %}

            <div class="w-25 mx-auto mb-2">
                <img class="img-fluid" src="{{object.ava|full_image_path}}" alt="{{object.name}}">
            </div>
            {% if object.description%}
                <div class="border-top border-bottom p-3 mb-3 w-50 mx-auto">{{object.description}}</div>
            {% endif %}
            <div><span class="fw-bolder">Цена: </span>{{object.price|price}}</div>
            <div><span class="fw-bolder">Категория: </span> {{object.category}}</div>
            <div class="mb-3"><span class="fw-bolder">Добавлен: </span> {{object.manufactured_at|format_datetime}}</div>

            {% if user == object.creator or user.is_superuser %}
                <a href="{% url 'product:edit' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
                <a href="{% url 'product:delete' object.pk %}?type=detail" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
