{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}
<div class="row text-center">
    {% if user.is_authenticated %}
    <div class="mb-4">
        <a href="{% url 'product:create' %}" class="btn btn-lg btn-block btn-outline-primary">Добавить товар</a>
    </div>
    {% endif %}

    <div class="d-flex mb-3">
        {%for prd in object_list %}
        <div class="card" style="width: 18rem;">
          <div class="h-50">
              <img src="{{prd.ava|full_image_path}}" class='card-img-top img-fluid mb-3 p-2 h-100' alt="{{prd.name}}">
          </div>
          <div class="h-50 d-flex flex-column justify-content-between">
              <div class="px-2">
                  {% if prd.is_published %}
                    <p class="card-text status-publication text-success">Опубликован</p>
                  {% else %}
                    <p class="card-text status-publication text-danger">Не опубликован</p>
                  {% endif %}
                  <h5 class="card-title">{{prd.name|product_version:prd.current_version}}</h5>
                  <p class="card-text fst-italic text-secondary">{{prd.creator|author|safe}}</p>
                  <p class="card-text">{{prd.price|price}}</p>
              </div>
              <a href="{% url 'product:detail' prd.pk %}" class="btn btn-primary w-50 mb-1 mx-auto mb-3">Подробнее</a>
          </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination mx-auto w-75">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">1</a>
                {% if page_obj.paginator.num_pages > 2 %}
                    <a href="?page={{ page_obj.previous_page_number }}"> < </a>
                {% endif %}
            {% endif %}

            <span class="current fw-bolder">
                {{ page_obj.number }}
            </span>

            {% if page_obj.has_next %}
                {% if page_obj.paginator.num_pages > 2 %}
                    <a href="?page={{ page_obj.next_page_number }}"> > </a>
                {% endif %}
                <a href="?page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages}}</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
