{% extends 'basic.html' %}
{% load custom_tags %}

{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'diary:create' %}" class="btn-theme p-2 mb-4 w-25">Новая запись</a>
    {% endif %}
    <div class="d-flex justify-content-center d-flex flex-wrap rounded shadow">
        {% for obj in object_list%}
        <a href="{% url 'diary:detail' obj.pk %}" class="record-card p-2 m-2 w-30">
            <div class='card-body'>
                <div class="fw-bolder color-beige-gray">{{obj.created_at}}</div>
                {% if user.is_superuser %}<div class="color-jade pb-2">{{obj.owner}}</div>{% endif %}
                <p class="card-text color-beige-gray">{{obj.content|safe}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
