{% extends 'basic.html' %}

{% block content %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="w-75 mx-auto">
            <form method="post" enctype="multipart/form-data" class="form-floating">
                {% csrf_token %}

                {% for field in form%}
                <p>{{field}}</p>
                {% endfor %}

                 <button type="submit" class="btn-theme border-0 rounded">Создать</button>
                <a href="/" class="btn-theme btn-my-link rounded">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}
